
// MATERIAL:
.ui {
  &__content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;

    &:active {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;

      &:active {
        width: calc(100%-250px);
      }
    }
  }

  &__sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: orangered;
    color: #fff !important;
    transition: all 0.3s;

    &:active {
    	margin-left: -250px;
    }

    p {
      color: #fff;
      padding: 10px;
    }

    a:hover {
     color: orangred;
     background: #fff;
   }

   @media screen and (max-width: 768px) {
     margin-left: -250px;

     &:active {
       margin-left: 0;
     }
   }
  }

  &__sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }

  &__sidebar-components {
    padding: 20px 0;
  	border-bottom: 1px solid #47748b;
  }
}
